---
interface Props {
  href?: string;
  variant?: "primary" | "secondary";
  size?: "small" | "medium" | "large";
}

const {
  href = "#",
  variant = "primary",
  size = "medium",
} = Astro.props as Props;

const baseClasses = "inline-block font-semibold rounded transition m-0";

const variantClasses = {
  primary: "bg-action-main hover:bg-action-main-hover",
  secondary: "bg-action-secondary hover:bg-action-secondary-hover text-white",
};

const sizeClasses = {
  small: "text-body-sm clamp-[py,1,2] clamp-[px,2,3]",
  medium: "text-body-md clamp-[py,2,3] clamp-[px,3,4]",
  large: "text-body-lg clamp-[py,3,4] clamp-[px,4,5]",
};

const classes = `${baseClasses} ${variantClasses[variant]} ${sizeClasses[size]}`;
---

<a href={href} class={classes}>
   <slot />
</a>
