---
import Container from "@components/Container.astro";

interface Props {
  title: string;
  size?: "default" | "large";
}

const {
  title,
  size = "default",
} = Astro.props;

const baseClasses = "bg-bg-main";

const sizeClasses = {
  default: "clamp-[py,10,20] clamp-[pb,5,8]",
  large: "clamp-[py,10,20] xl:py-10",
};

const h1Classes = {
  default: "text-heading-lg",
  large: "text-heading-xl",
};

const classes = `${baseClasses} ${sizeClasses[size]}`;
---

<section class={classes}>
  <Container class="text-center">
    <div class="flex flex-col gap-5 lg:flex-row lg:items-center">
      <div class="w-full lg:max-w-1/2 xl:max-w-7/12">
        <h1 class={`${h1Classes[size]} text-action-secondary`}>{title}</h1>
        <div class="text-text-secondary text-body-lg max-w-2xl">
          <slot />
        </div>
      </div>
      {size === "large" && (
        <div class="w-full max-w-lg lg:max-w-1/2 xl:max-w-5/12">
          <slot name="map" />
        </div>
       )}
    </div>
  </Container> 
</section>
