---
import Container from "@components/Container.astro";

interface Props {
  title: string;
  size?: "default" | "large";
}

const {
  title,
  size = "default",
} = Astro.props;

const baseClasses = "bg-bg-main";

const sizeClasses = {
  default: "clamp-[py,10,20] clamp-[pb,5,10]",
  large: "clamp-[py,10,20]",
};

const h1Classes = {
  default: "text-heading-lg",
  large: "text-heading-xl",
};

const classes = `${baseClasses} ${sizeClasses[size]}`;
---

<section class={classes}>
  <Container class="text-center">
    <h1 class={`${h1Classes[size]} text-action-secondary`}>{title}</h1>
    <div class="text-text-secondary text-body-lg max-w-2xl">
      <slot />
    </div>
  </Container> 
</section>
