---
import { fetchAllLPAs } from "@lib/lpa-api";
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import ServiceCard from "@components/ServiceCard.astro";
import LpaMasthead from "@components/LpaMasthead.astro";
import Container from "@components/Container.astro";
import Accordion from "@components/Accordion.astro";

export const getStaticPaths = (async () => {
  const lpas = await fetchAllLPAs();
  return lpas.map((lpa) => ({
    params: { lpa: lpa.slug },
    props: { lpaData: lpa },
  }));
}) satisfies GetStaticPaths;

const { lpaData } = Astro.props;

// TODO: Pass title as prop into layout?
// type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

if (!lpaData) return Astro.redirect("/404");
---

<Layout>
  <LpaMasthead
    title="Send a planning application to {lpaName}"
    lpaName={lpaData.name}
    logo={lpaData.theme.logo}
    backgroundColour={lpaData.theme?.primaryColour}
  />
  <Container paddingY>
    <div class="flex flex-col gap-6">
      <Accordion title="Start a planning application" id="apply-accordion">
        <ul class="max-w-6xl">
          {
            lpaData.services.map((service) => (
              <ServiceCard
                service={service}
                team={{ domain: lpaData.domain }}
              />
            ))
          }
        </ul>
      </Accordion>
      <Accordion title="Notify your authority" id="notify-accordion">
        <ul class="max-w-6xl">
          {
            lpaData.services.map((service) => (
              <ServiceCard
                service={service}
                team={{ domain: lpaData.domain }}
              />
            ))
          }
        </ul>
      </Accordion>
      <Accordion title="Get planning guidance" id="guidance-accordion">
        <ul class="max-w-6xl">
          {
            lpaData.services.map((service) => (
              <ServiceCard
                service={service}
                team={{ domain: lpaData.domain }}
              />
            ))
          }
        </ul>
      </Accordion>
    </div>
  </Container>
</Layout>
<script is:inline type="module" data-astro-rerun>
  import { $action } from "./src/stores/action.ts";

  const openAccordion = () => {
    const action = $action.get();
    if (!action) return;

    const detailsEl = document.getElementById(`${action}-accordion`);
    if (!detailsEl) return;

    detailsEl.open = true;
    // TODO: Scroll to summary (title), not list of services
    // This might be an animation delay issue (?)
    detailsEl.scrollIntoView({ behavior: "smooth" });
  };

  openAccordion();
</script>
