---
import { fetchAllLPAs } from "@lib/lpa-api";
import Layout from "@layouts/Layout.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import ServiceCard from "@components/ServiceCard.astro";
import LpaMasthead from "@components/LpaMasthead.astro";
import Container from "@components/Container.astro";

export const getStaticPaths = (async () => {
  const lpas = await fetchAllLPAs();
  return lpas.map((lpa) => ({
    params: { lpa: lpa.slug },
    props: { lpaData: lpa },
  }));
}) satisfies GetStaticPaths;

const { lpaData } = Astro.props;

// TODO: Pass title as prop into layout?
// type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

if (!lpaData) return Astro.redirect("/404");
---

<Layout>
  <LpaMasthead 
    title="Send a planning application to {lpaName}" 
    lpaName={lpaData.name}
    logo={lpaData.theme.logo}
    backgroundColour={lpaData.theme?.primaryColour}
  />
  <Container paddingY>
    <div class="mb-8">
      <h2 class="text-body-xl">Send a planning application to <span class="font-bold">{lpaData.name}</span></h2>
      <a class="paragraph-link text-body-md" href="/search">Search for a different postcode</a>
    </div>
    <ul class="max-w-6xl">
      {lpaData.services.map((service) => <ServiceCard {...service} />)}
    </ul>
  </Container>
</Layout>
