---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Masthead from "@components/Masthead.astro";
import Accordion from "@components/Accordion.astro";
import { fetchAllLPAs, type LPA } from "@lib/lpa-api";
import AccordionSection from "@components/directory/AccordionSection.astro";
import ApplicationsBanner from "@components/ApplicationsBanner.astro";

const lpas = await fetchAllLPAs();

const hasListedServices = (lpa: LPA) =>
  lpa.applyServices.length ||
  lpa.guidanceServices.length ||
  lpa.notifyServices.length;
---

<Layout>
  <Masthead title="Directory of local planning authorities" />
  <Container paddingY>
    <section class="flex flex-col gap-4">
      {
        lpas.map((lpa) => (
          <Accordion title={lpa.name}>
            <AccordionSection
              title="Start a planning application"
              services={lpa.applyServices}
              lpa={lpa}
            />
            <AccordionSection
              title="Notify your authority"
              services={lpa.notifyServices}
              lpa={lpa}
            />
            <AccordionSection
              title="Get planning guidance"
              services={lpa.guidanceServices}
              lpa={lpa}
            />
            {!hasListedServices(lpa) && (
              <p>{lpa.name} doesn't yet have any services listed.</p>
            )}
          </Accordion>
        ))
      }
    </section>
  </Container>
  <ApplicationsBanner />
</Layout>
